<!DOCTYPE html>
<html>
<head>
    <link href="StyleSheet.css" rel="stylesheet" type="text/css" media="all">
    <meta charset="utf-8" />
    <title>（株）デリバリー・タイムカプセル</title>
</head>
<body>
    <center>
        <img src="logo.svg" width="256" height="256">
    </center>
    <div class="aaaa">
        <p>
            user_id:
            <input type="text" id="user_id">
        </p>
        <p>
            お届け日:
            <input type="text" id="delivery_date">
        </p>
        <p>
            その他:
            <input type="text" id="info">
        </p>
        <p>
            <input type="button" id="execute" value="送信">
        </p>
        <p>

            可否: <input type="text" id="result" value=""><br>

            内容: <input type="text" id="detail" value=""><br>

        </p>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="api_load2.js"></script>
</body>
</html>