<!-- index.html -->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>サンプル</title>
    </head>
    <body>
        <h1>設定</h1>
        <p>
            id: <input type="text" id="id" value="aaa"><br>
            名前: <input type="text" id="name" value="学生"><br>
            住所: <input type="text" id="address" value="学生"><br>
            メアド: <input type="text" id="mail_address" value="学生"><br>
            パスワード: <input type="text" id="password" value="学生"><br>

            <input type="button" id="execute" value="送信"><br>
        </p>
        <h1>結果</h1>
        <p>
            可否: <input type="text" id="result" value=""><br>
            内容: <input type="text" id="detail" value=""><br>
        </p>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="../static/sample_api_load.js"></script>
    </body>
</html>